body,
button,
input,
select,
textarea {
    font-size: $base-font;
    line-height: $base-line-height;
    font-family: $font;
}

body {
    margin: 0;
}

#home {
    text-align: center;
}

.page-section {
    box-shadow: 2px 2px 2px 2px $white-color;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section {
    border: 2px solid lightslategrey;
    border-top: 15px solid lightslategray;
}
